footer {
    position: fixed;
    bottom: -4000px;
    width: 100%;
    height: 100px;

    z-index: 2;
    font-family: font-light;
    font-size: 20pt;

    color: white;
    background-color: black;

    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

}


footer .ts-items .ts-item span {}

footer .ts-items {
    height: 150px;
}

footer .ts-items .ts-item {
    padding: 0px 20px 0px 20px;

}

.fp-controlArrow {
    display: none !important;
}

footer.ts-footer-psMed {
    bottom: 20vh !important;
}


footer.ts-footer-show {
    bottom: 0px;
-webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}


footer.ts-footer-light {
    color: black !important;
    background-color:  white !important;
}

@media screen and (max-width: 600px) and (min-width:0px) {

    footer {
        display: none;
    }
}

/*
@media screen and (max-width: 4000px) and (min-width:2200px) {

    footer .ts-items .ts-item span {
        font-size: 35pt;
    }
    footer .ts-items {
        height: 200px;
    }
    footer .ts-items .ts-item {
        padding: 0px 80px 0px 80px;
    }

}

@media screen and (max-width: 2200px) and (min-width:1200px) {
        footer .ts-items .ts-item span {
        font-size: 18pt;
    }
    footer .ts-items {
        height: 150px;
    }
    footer .ts-items .ts-item {
        padding: 0px 40px 0px 40px;
    }
}


@media screen and (max-width: 1200px) and (min-width:1000px) {
        footer .ts-items .ts-item span {
        font-size: 20pt;
    }
    footer .ts-items {
        height: 100px;
    }
    footer .ts-items .ts-item {
        padding: 0px 20px 0px 20px;
    }
}

@media screen and (max-width: 1000px) and (min-width:0px) {
    footer{
        display: none;
    }
}

*/
