.ts-slide-2 {
    font-family: font-light;
    font-size: 25pt;
}

.ts-slide-2 .ts-wrapper {
    width: 850px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -100px
}

.ts-slide-2 .ts-wrapper .ts-wrapper-row {
    float: left;
    padding: 30px;

}

.ts-slide-2 .ts-wrapper .ts-wrapper-row:last-child {
    float: left;
    padding: 30px;
    position: relative;
    top: 0px;
}

.ts-slide-2 .ts-wrapper .ts-wrapper-row:first-child {
    float: left;
    padding: 30px;
    position: relative;
    top: 100px;
    left: -70px
}

.ts-slide-2 .ts-wrapper .ts-wrapper-row p {
    font-size: 25pt;
}


.ts-slide-2 .img-btn {
    font-family: font-bold;
    color: black;
}

.ts-slide-2 mark {
    font-family: font-light;
    font-size: 25pt;

    line-height: 200%;
    text-align: left;

    background-color: #59FFCE;
}

.ts-slide-2 .ts-med {
    position: relative;
    top: -100px
}


.ts-slide-2p5 .ts-wrapper {
    width: 100vw;
    height: 100vh;

}


.ts-slide-2 .ts-dots.d1 {
    width: 50px;
    position: relative;
    top: 40px;
    left: 0px
}

.ts-slide-2 .ts-dots.d2 {
    width: 50px;
    position: relative;
    top: 110px;
    left: -70px
}

.seeproyects-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;


}

.seeproyects-wrapper2 {
    width: 900px;
    height: 700px;
    margin: 0 auto;

}

.ts-p {
    font-family: font-light;
    font-size: 25pt;

    line-height: 200%;
    text-align: left;
    text-align: justify;
    width: 900px;
    height: 300px;

}

.ts-p-wrapper {
    width: 900px;
    height: 250px;
    z-index: 10;
}

.ts-p-dots {
    font-family: font-bold;
    font-size: 52pt;
    background-color: white;
    color: black;
    font-weight: bold;
    padding-right: 12px;
    width: 20px;
    height: 300px;
    position: relative;
    top: -20px;
    float: left;
}

.bg-line {
    background-color: #59FFCE;
}


.seeproyects-title-content {
    font-family: font-bold;
    font-size: 25pt;
    padding: 10px;
    border-bottom: 5px solid #59FFCE;
}

.seeproyects-title-content {
    font-size: 25pt;
    float: right;
}

.seeproyects-messagd-line {}

.seeproyects-wrapper h1 {
    text-align: left;

    font-family: font-light;
    font-size: 45pt;
    margin: 0px;
    z-index: 20;
}

.seeproyects-messag-line-long {
    display: block;
    background-color: #59FFCE;
    font-family: font-light;
    font-size: 30pt;
    width: 900px !important;
    text-align: left;
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.seeproyects-messag-line-short {
    display: block;
    background-color: #59FFCE;
    font-family: font-light;
    font-size: 30pt;
    width: 500px !important;
    text-align: left;
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.seeproyects-title-content {
    width: 700px;
}

.seeproyects-title,
.seeproyects-message {
    width: 900px;
    margin: 0 auto;
    position: relative;
    top: -100px;
    left: -250px;
}















.slide-full-scroll {
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 0 auto;

}

.slide-full-scroll-wrapper {
    width: 500vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: black;
    -ms-transform: translate(0px, 0px);
    /* IE 9 */
    -webkit-transform: translate(0px, 0px);
    /* Safari */
    transform: translate(0px, 0px);




    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    -webkit-transition-timing-function: cubic-bezier(1, .96, 1, 1.18);
    transition-timing-function: cubic-bezier(1, .96, 1, 1.18);
}

.slide-full-scroll-wrapper img {
    margin: 0px;
    float: left;
}


.slide-bg {
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    float: left;
}

.slide-bg.p0 {
    background-image: url(images/Uwa_Img_1A.jpg);
}

.slide-bg.p1 {
    background-image: url(images/CTS_Img_1A.jpg);

}

.slide-bg.p2 {
    background-image: url(images/Santi_Img_1A.jpg);

}

.slide-bg.p3 {
    background-image: url(images/TmLiso_Img_1A.jpg);

}


.btns {
    width: 150px;
    margin: 0 auto;
}

.btns i {
    padding: 10px;
}


.slide-vb {
    background-color: black;
    height: 100vh;
    width: 400px;
    float: left;
    position: relative;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slide-vb .wrapper {
    height: auto;
    width: 300px;
    text-transform: uppercase;
}



.slide-vb h1 {
    font-family: font-light;
    font-size: 80pt;
    margin: 0px;

    align-self: flex-start;
    position: relative;
    left: 0px;
}

.slide-full-scroll img {
    position: relative;
}

.slide-vb mark {
    font-family: font-regular;
    background-color: #59FFCE;
    color: black;
    font-size: 13pt;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 30px;
    align-self: flex-start;
    position: relative;
}

.slide-vb p {
    font-family: font-light;
    font-size: 17pt;
    width: 250px;
    padding-left: 30px;
    position: relative;
    line-height: 130%;

}

.btn-active {
    color: #59FFCE;
}



#bn_p0_e1,
#bn_p0_e1 h1,
#bn_p1_e1,
#bn_p1_e1 h1,
#bn_p2_e1,
#bn_p2_e1 h1 {

    -webkit-transition: all 50ms ease-in-out;
    -moz-transition: all 50ms ease-in-out;
    -ms-transition: all 50ms ease-in-out;
    -o-transition: all 50ms ease-in-out;
    transition: all 50ms ease-in-out;

    -webkit-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
}


hr {
    background-color: #000;
    color: #000;
    border: none;
    border: none;
}



#img_p0_e1 {
    POSITION: relative;
    top: 27%;
    width: 300px;
    left: 800px;
}

#img_p0_e3 {
    POSITION: relative;
    top: 300px;
    left: 900px;
    transform: rotate(0deg);
}

#img_p0_e2 {
    POSITION: relative;
    top: 800px;
    left: 1400px;
    transform: rotate(0deg);
}

#img_p0_e4 {
    position: relative;
    top: 800px;
    left: -499px;
    transform: rotate(0deg);
}





.p2 h1 {
    font-size: 45pt;
}

.p3 h1 {
    font-size: 57pt;
}



#img_p1_e2 {

    width: 400px;
    position: relative;
    top: 400px;
    left: 700px;

}

#img_p1_e1 {
    position: relative;

    width: 400px;
    left: 1200px;

}





#img_p2_e1 {
    position: relative;
    top: 100px;
    left: 101px;
    width: 300px;
}

#img_p2_e2 {
    position: relative;
    top: 600px;
    left: 1200px;
    left: 1200px;
}

#img_p2_e3 {
    position: relative;
    top: 700px;
    left: -300px;

}



#img_p3_e1 {
    position: relative;
     top: 40%;
    left: 28%;
    width: 900px;
}

#img_p3_e2 {
    top: 570px;
    width: 300px;
    left: -750px
}

#img_p3_e3 {
    position: relative;
    top: 450px;
    left: -730px;

}
