.preloader {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	width: 100%;
	height: calc(100vh - 100px);
    
    background-color: black;
}

.preloader img {
	font-family: font-regular;
	font-size: 100px;
	
	text-align: center;
	resize: vertical;
	overflow: auto;
	
	position: relative;
	top: -25px;
    width: 500px;
    
    align-self: center;
    
}

main{
	display: none;
}


